body{
    background-image: url("assets/images/dust_scratches.png");
}

.content{
    width: 70%;
    margin: auto;
    padding-top: 10px;
}



.header img{
    width: 20%;
    height: 20%;

}


#error{
    color: red;
    font-weight: bold;
    font-size: 15px;
}

#logOutButton{
    float:right;
    margin-top:17px;
}


.userButtons{
    display: flex;
}

.loginArea{
    flex-direction: row;
    padding-right: 20px;
}

.registerArea{
    flex-direction: row;
}

.forms{
    margin-top: 15px;
}

.infoUser{
    font-size: 12px;
    font-style: italic;
    color: black;
    text-decoration: none;
}

.invDetails{
    display: flex;
    flex-direction:column;

}.invDetails img{
    margin: 0 auto;

}